 .liquidFillGaugeText
 {
     font-family: Helvetica;
     font-weight: bold;
 }
.piaofang{
    font-size: 30px;
    font-family: 微软雅黑;
    font-weight: bold;
    padding-left: 120px;
}

.pingfen{
     font-size: 30px;
    font-family: 微软雅黑;
    font-weight: bold;
    padding-left: 230px;
}

