<!DOCTYPE html>

<head>
    <title>gauge</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Play:700,400' type='text/css'>
    <link rel="stylesheet" href="../static/css/gauge.css">
    <script src="{{url_for('static',filename = 'css/gauge.js')}}"></script>
    <script type="text/javascript" src="http://iop.io/js/vendor/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerEvents/pointerevents.js"></script>
    <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerGestures/pointergestures.js"></script>
    <script type="text/javascript" src="http://iop.io/js/iopctrl.js"></script>

</head>
<body>
    <div>
        <span id="speedometer"></span>
    </div>

    <script type="text/javascript" src="../static/js/gauge.js"></script>
    <!--<script src="{{url_for('static',filename = 'js/gauge.js')}}"></script>-->
</body>